export (updateDissims, chameleon, phclust, gtclusts, checkParts, varInfo, countPart, findK_gtclusts, 
gtclusts_inout, km_dists, km_PCA, reordering, fusion_smcl, mergeToK, spec_emb, spec_clust, learnClassif, 
optimParams_classif, knnPredict, lpcaPredict, xtr_plan1, xtr_plan2, learnRegress, optimParams_regress, 
fperrors, fmetam_1cl, fmetam, nfoldcv, getcoefc, mixpredf, plotC, plotPts, print.modelcf, predictRegress, 
predictClassif, predict.modelcf, locdim1, dimest1, dimest2, GCEM, GCEM_rec, LPcaML, LPcaML_rec, 
basisMostVar, genFourier, getMedElem, simpleWavBasis, linEmb, linear_rec, nlin_redDim, 
nlin_adaptRec, RML, RML_rec, .Last.lib)

useDynLib(modelcf)

